body {
    font-family: Arial, Helvetica, sans-serif;
    display: block;      /* Makes them behave like standard paragraphs */
    margin-bottom: 15px; 
    
}

h1{
    text-align: center;

}

h2{
    text-align: center;
    color: blue;
}

p15{
    
    color: blue;
}

p4, p15{
        display: block;      /* Makes them behave like standard paragraphs */
    margin-bottom: 15px;
}

p4, p6, p8, p10, p12{
    display: block;      /* Makes them behave like standard paragraphs */
    margin-bottom: 15px; /* Adds 15px of space below each item */
    color: red;
    font-family: Consolas, Monaco, "Lucida Console", "Liberation Mono", monospace;
}